<h1 class="list">List of all pages</h1>
<%= link_to "go back", root_path  %><br/><br/>


<%# <%if !@pages.blank?
    <% for item in @pages
       email: <%= item.email || URL: <%= item.url || location: <%= @city || title: <%= @tytul <br/>
    <% end 

    <% else
<% end%> 
<table>
  <thead>
    <tr>
      <th>Name:</th>
      <th>Email:</th>
      <th>URL:</th>
      <th>Title:</th>
      <th>Location:</th>
    </tr>
  </thead>

  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <td><%= page.name %></td>
        <td><%= page.email %></td>
        <td><%= page.url %></td>
        <td><%= Mechanize.new.get(page.url).title %></td>
        <td>
        <% uri = Addressable::URI.parse(page.url)
           webcountry = uri.host %>
        <%= @geoip.country(webcountry).country_name %> </td>
        
    <% end %>
  </tbody>
</table>