<h1 class='welcome'>Enter your url here<h1>

<%= form_for @page do |f|%>
    <ul>
    <% @page.errors.full_messages.each do |error| %>
        <li><%= error %></li>
    <% end %>
    <p>
    <%= f.label :name %><br/>
    <%= f.text_field :name %>
    </p>
    <p>
    <%= f.label :email %><br/>
    <%= f.text_field :email %>
    </p>
    <p>
    <%= f.label :url %><br/>
    <%= f.text_field :url %>
    </p>
    <p class="captcha">
     <%= recaptcha_tags %><br/>
     </p>
    <p>
    <%= f.submit "check my address" %>
    </p>
<% end %>
