<h1 class="list">List of all pages</h1>

<%if !@pages.blank? %>
    <% for item in @pages %>
       email: <%= item.email %> || URL: <%= item.url %> 
    <% end %>


    <% else%>
<% end%>
    || location: || title: <%= @agent %> <br/>