Hi <%= @page.name %>,

Here is your webpage address, location and title:
your address: <%= @page.url %><br/>

your location: 
<% uri = Addressable::URI.parse(@page.url)
           webcountry = uri.host 
           @geoip ||= GeoIP.new('GeoLiteCity.dat')%>
           <%= @geoip.country(webcountry).country_name %> <br/>

<br/>
your page title: 
<%= Mechanize.new.get(@page.url).title %><br/>