// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1{
    font-size: 18px;
}
.welcome {
    font-size: 22px;
}
.list{
    text-align: left;
}
li {
    list-style: none;
    color: red;
}